<style type="text/css" />

{


}
p{
  font-style: italic;
  font-size: 30px;
  color:black;

}
h1{
  font-style: italic;
  font-size: 85px
}
body{
  background-color: black;
}
h2{
  text-align: center;
  font: italic;
  font-size: 40px;
  text-decoration: underline;
}
a{
  font-style: italic;
  
}
section{
animation-duration: 3s;
animation-name: slidein;
animation-iteration-count: 1;
}
@keyframes slidein {
from {
  margin-left: 1000px;
  margin-right: 100px;
  margin-top: 1000px;
  width: 50%;
}

to {
  margin-left: 30px;
  margin-right: 50%;
  width: 100%;
}
}
img{
  background-color: black;border:5px; padding:5px; width:180px; height:180px; margin-top:5px; margin-bottom: 5px; margin-left: 5px; margin-right: 5px; border-radius: 5px;}
